<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>ini adalah ulasan dengan ID: <%= reviewId %></p>
    <p>Untuk produk dengan ID: <%= productId %></p>
</body>
</html>
